<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" content="Kết quả tìm kiếm của người cho thuê">
    <title> Tìm kiếm | Người tìm trọ</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/nifty.min.css}">
    <link rel="stylesheet" th:href="@{/css/demo-purpose/demo-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/demo-purpose/demo-settings.min.css}">
</head>

<body class="jumping">
    <!-- PAGE CONTAINER -->
    <div id="root" class="container-fluid root mn--max hd--expanded">
        <!-- CONTENTS -->
        <section id="content" class="content">
            <div class="content__header content__boxed overlapping">
                <div class="content__wrap">

                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a th:href="@{/tenant/tenant-home}">Trang chủ</a></li>
                        </ol>
                    </nav>
                    <!-- END : Breadcrumb -->
                    <h6 class="page-title mt-2">Kết quả tìm kiếm</h6>
                    <br>
                </div>
            </div>

            <!-- Start: Content -->
            <div class="content__boxed content__wrap row col-md-12 mb-2"> 
                <!-- Thông báo khi không có bài đăng -->
                <div th:if="${not listResult.hasContent()}">
                    <p class="lead text-bold text-center">Rất tiếc, không có bài đăng nào cho từ khoá trên!</p>
                </div>

                <!-- Danh sách bài đăng -->
                <div th:each="result : ${listResult}" class="col-md-4 col-xl-4 mb-4" th:if = "${result.isDeleted == false}">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <!-- Title -->
                            <div class="card-title mb-3">
                                <a th:text="${#strings.length(result.title) > 51 ? #strings.substring(result.title, 0, 51) + '...' : result.title}"
                                    class="blockquote btn-link" th:href="@{/tenant/tenant-post-detail(postId = ${result.postId})}"></a>
                            </div>

                            <!-- Thông tin cơ bản -->
                            <div class="d-flex flex-column">
                                <div>
                                    <!-- Image -->
                                    <div class="box mt-2">
                                        <div class="img-container"
                                            style="max-width: 100%; height: 0; padding-bottom: 75%; position: relative;">
                                            <img th:src="@{${result.photo}}" class="img-fluid"
                                                style="position: absolute; object-fit: cover; width: 100%; height: 100%;">
                                        </div>
                                    </div>

                                    <!-- Thông tin cơ bản về bài đăng -->
                                    <div class="mt-3">
                                        <p class="text-bold"><b>Giá phòng: </b><span
                                                th:text="${result.getAccommodate().roomPrice}"></span> (Triệu đồng)
                                        </p>
                                        <p class="text-bold"><b>Khu vực: </b><span
                                                th:text="${result.getAccommodate().area}"></span> </p>
                                        <p class="text-bold"><b>Loại phòng: </b><span
                                                th:text="${result.getAccommodate().priceCategory}"></span> </p>
                                    </div>
                                </div>
                            </div>

                            <!-- End: thông tin cơ bản -->
                            <div class="mt-2 pt-3 border-top d-flex align-items-center">
                                <a class="btn-link" th:href="@{/tenant/tenant-post-detail(postId = ${result.postId})}">Chi tiết ></a>
                                <small class="text-muted ms-auto" th:text="${#temporals.format(result.createdAt, 'HH:mm | dd-MM-yyyy ')}"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: danh sách bài đăng -->
            </div>
            <!-- End: Content -->

            <!-- Phân trang -->
            <div class="d-flex justify-content-center align-items-center"  th:if= "${listResult.hasContent()}">
                <div class="pagination">
                    <ul class="pagination">
                        <!-- Trở về -->
                        <li class="page-item" th:class="${listResult.hasPrevious() ? '' : 'disabled'}">
                            <a class="page-link" th:if="${listResult.hasPrevious()}"
                                th:href="@{/landlord/landlord-search(keyword = ${#request.getParameter('keyword')}, page=${listResult.number - 1})}">
                                << Trở lại</a>
                                    <span class="page-link" th:unless="${listResult.hasPrevious()}">
                                        << Trở lại</span>
                        </li>

                        <!-- Trang tiếp -->
                        <li class="page-item" th:class="${listResult.hasNext() ? '' : 'disabled'}">
                            <a class="page-link" th:if="${listResult.hasNext()}"
                                th:href="@{/landlord/landlord-search(keyword = ${#request.getParameter('keyword')}, page=${listResult.number + 1})}">Tiếp
                                >></a>
                            <span class="page-link" th:unless="${listResult.hasNext()}">Tiếp >></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End: Pagination -->

            <!--------------------------- Footer ------------------------------------>
            <footer class="mt-auto">
                <div class="content__boxed">
                    <div class="content__wrap py-3 py-md-1 d-flex flex-column flex-md-row align-items-md-center">
                        <div class="text-nowrap mb-4 mb-md-0">Copyright &copy; 2023 <a href="#"
                                class="ms-1 btn-link fw-bold">Timtro247</a></div>
                        <nav class="nav flex-column gap-1 flex-md-row gap-md-3 ms-md-auto"
                            style="row-gap: 0 !important;">
                            <a class="nav-link px-0" href="#">Điều khoản</a>
                            <a class="nav-link px-0" href="#">Chính sách bảo mật</a>
                            <a class="nav-link px-0" href="#">Liên hệ với chúng tôi</a>
                        </nav>
                    </div>
                </div>
            </footer>
            <!-- END - FOOTER -->

        </section>


        <!-- Start: Header -->
        <header class="header">
            <div class="header__inner">
                <!-- Brand -->
                <div class="header__brand">
                    <div class="brand-wrap">
                        <!-- Logo -->
                        <a th:href="@{/home}" class="brand-img stretched-link">
                            <img th:src="@{/img/logo.svg}" alt="Nifty Logo" class="Nifty logo" width="40" height="40">
                        </a>

                        <!-- Brand  -->
                        <div class="brand-title">Timtro247</div>
                    </div>
                </div>
                <!-- End brand -->

                <div class="header__content">
                    <div th:replace = "fragments :: header__content-start"></div>
                    <!-- Content Header - Right Side: -->
                    <div class="header__content-end">
                        <!-- Thông báo -->
                        <div class="dropdown">
                            <!-- Toggler -->
                            <button class="header__btn btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown"
                                aria-label="Notification dropdown" aria-expanded="false">
                                <span class="d-block position-relative">
                                    <i class="demo-psi-bell"></i>
                                    <span class="badge badge-super rounded bg-danger p-1">

                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </span>
                            </button>

                            <!-- Thông báo -->
                            <div class="dropdown-menu dropdown-menu-end w-md-300px">
                                <div class="border-bottom px-3 py-2 mb-3">
                                    <h5>Thông báo</h5>
                                </div>

                                <div class="list-group list-group-borderless">

                                    <!-- Thông báo 1 -->
                                    <div class="list-group-item list-group-item-action d-flex align-items-start mb-3">
                                        <div class="flex-shrink-0 me-3">
                                            <i class="demo-psi-speech-bubble-7 text-green-300 fs-2"></i>
                                        </div>
                                        <div class="flex-grow-1 ">
                                            <div class="d-flex justify-content-between align-items-start">
                                                <a href="#" class="h6 mb-0 stretched-link text-decoration-none">[Thông
                                                    báo cho lịch hẹn đang chờ]</a>
                                            </div>
                                            <small class="text-muted">30 phút trước(Lấy thời gian tạo post trong cơ sở
                                                dữ liệu) </small>
                                        </div>
                                    </div>

                                    <!-- Thông báo 2 -->
                                    <div class="list-group-item list-group-item-action d-flex align-items-start mb-3">
                                        <div class="flex-shrink-0 me-3">
                                            <img class="img-xs rounded-circle" src="/img/profile-photos/3.png"
                                                alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ">
                                            <a href="#" class="h6 d-block mb-0 stretched-link text-decoration-none">Lịch
                                                hẹn thành công</a>
                                            <small class="text-muted">1 hours ago</small>
                                        </div>
                                    </div>
                                    <div class="text-center mb-2">
                                        <a href="#" class="btn-link">Tất cả thông báo</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End - Notification dropdown -->

                        <!-- Icon thông tin user -->
                        <div class="dropdown">

                            <!-- Toggler -->
                            <button class="header__btn btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown"
                                aria-label="User dropdown" aria-expanded="false">
                                <i class="demo-psi-male"></i>
                            </button>

                            <!-- User dropdown menu -->
                            <div class="dropdown-menu dropdown-menu-end w-md-450px">

                                <!-- User dropdown header -->
                                <div class="d-flex align-items-center border-bottom px-3 py-2">
                                    <div class="flex-shrink-0">
                                        <img class="img-sm rounded-circle" src="/img/profile-photos/1.png"
                                            alt="Profile Picture" loading="lazy">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="mb-0">Render tên từ thymeleaf</h5>
                                        <span class="text-muted fst-italic">Render email từ thymeleaf</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">

                                        <!-- Thông tin tài khoản bản đơn giản-->
                                        <div class="list-group list-group-borderless mb-3">
                                            <div class="list-group-item text-center border-bottom mb-3">
                                                <p class="h1 display-1 text-green">17</h6>
                                                </p>
                                                <p class="h6 mb-0"> Bài đăng trong tháng qua</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-5">
                                        <!-- User menu link -->
                                        <div class="list-group list-group-borderless h-100 py-3">
                                            <a href="#"
                                                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                                <span><i class="demo-pli-mail fs-5 me-2"></i> Thông báo</span>
                                                <span class="badge bg-danger rounded-pill">14</span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <i class="demo-pli-male fs-5 me-2"></i> Tài khoản
                                            </a>

                                            <a href="#" class="list-group-item list-group-item-action">
                                                <i class="demo-pli-unlock fs-5 me-2"></i> Đăng xuất
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End - User dropdown -->
                    </div>
                </div>
            </div>
        </header>
        <!-- End: Header -->

        <!-- Thanh điều hướng -->
        <nav id="mainnav-container" class="mainnav">
            <div class="mainnav__inner">
                <!-- Start: Nevigation -->
                <div class="mainnav__top-content scrollable-content pb-5">
                    <!--Start: Avatar -->
                    <div class="mainnav__profile mt-3 d-flex3">
                        <!-- Profile picture  -->
                        <div class="mininav-toggle text-center py-2">
                            <img class="mainnav__avatar img-md rounded-circle border" src="/img/profile-photos/1.png"
                                alt="Profile Picture">
                        </div>

                        <div class="mininav-content collapse d-mn-max">
                            <div class="d-grid">
                                <!-- User name and position -->
                                <button class="d-block btn shadow-none p-2" data-bs-toggle="collapse"
                                    data-bs-target="#usernav" aria-expanded="false" aria-controls="usernav">
                                    <span class="d-flex justify-content-center align-items-center">
                                        <h6 class="mb-0 me-3">Tên tài khoản</h6>
                                    </span>
                                    <small class="text-muted">Tài khoản đăng bài</small>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End: Avatar-->

                    <!-- Start: Left Navigation Category -->
                    <div class="mainnav__categoriy py-3 ">
                        <h6 class="mainnav__caption mt-0 px-3 fw-bold">Tuỳ chọn</h6>
                        <ul class="mainnav__menu nav flex-column">
                            <!-- Category: 1 -->
                            <li class="nav-item">
                                <a th:href="@{/tenant/tenant-home}" class="mininav-toggle nav-link collapse"><i
                                        class="demo-pli-home fs-5 me-2"></i>
                                    <span class="nav-label mininav-content ms-1">Trang chủ</span>
                                </a>
                            </li>
                            <!-- Category 2:  -->
                            <li class="nav-item has-sub">
                                <a th:href="@{/tenant/tenant-info}" class="mininav-toggle nav-link collapse"><i
                                        class="demo-pli-split-vertical-2 fs-5 me-2"></i>
                                    <span class="nav-label ms-1">Thông tin cá nhân</span>
                                </a>
                                <!-- Forms submenu list -->
                                <ul class="mininav-content nav collapse">
                                    <li class="nav-item">
                                        <a th:href="@{/tenant/tenant-info}" class="nav-link ">Chi tiết tài khoản</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/tenant/tenant-edit-info}" class="nav-link">Chỉnh sửa thông
                                            tin</a>
                                    </li>
                                </ul>
                                <!-- END : Forms submenu list -->
                            </li>
                            <!-- Category 4: Lịch hẹn -->
                            <li class="nav-item has-sub">
                                <a href="#" class="mininav-toggle nav-link collapsed"><i
                                        class="demo-pli-speech-bubble-5 fs-5 me-2"></i>
                                    <span class="nav-label ms-1">Lịch hẹn </span>
                                </a>

                                <!-- Blog Apps submenu list -->
                                <ul class="mininav-content nav collapse">
                                    <li class="nav-item">
                                        <a th:href="@{/tenant/tenant-date}" class="nav-link">Lịch hẹn xem phòng</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/tenant/tenant-queue}" class="nav-link">Lịch hẹn chờ xác
                                            nhận</a>
                                    </li>
                                </ul>
                                <!-- END : Blog Apps submenu list -->
                            </li>

                            <!-- Category 5: Cài đặt -->
                            <li class="nav-item">
                                <a href="#" class="nav-link mininav-toggle"><i class="demo-pli-gear fs-5 me-2"></i>
                                    <span class="nav-label mininav-content ms-1">Cài đặt</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End: Left Nevigation Category-->

                    <!-- Bottom navigation menu -->
                    <div class="mainnav__bottom-content border-top pb-2">
                        <ul id="mainnav" class="mainnav__menu nav flex-column">
                            <li class="nav-item has-sub">
                                <a href="#" class="nav-link mininav-toggle collapsed" aria-expanded="false">
                                    <i class="demo-pli-unlock fs-5 me-2"></i>
                                    <span class="nav-label ms-1">Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End - Bottom navigation menu -->
                </div>
        </nav>
    </div>

    <!-- Button chuyên lên đầu trang -->
    <div class="scroll-container">
        <a href="#root" class="scroll-page rounded-circle ratio ratio-1x1" aria-label="Scroll button"></a>
    </div>
    <!-- End button chuyên lên đầu trang -->

    <!-- End: Thanh điều hướng -->
    <script th:src="@{/vendors/popperjs/popper.min.js}" defer></script>
    <script th:src="@{/vendors/bootstrap/bootstrap.min.js}" defer></script>
    <script th:src="@{/js/nifty.js}" defer></script>
    <script th:src="@{/js/demo-purpose-only.js}" defer></script>
    <script th:src="@{/js/validate-password.js}" defer> </script>
    <script th:src="@{/js/search.js}" defer> </script>
</body>

</html>