<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" content="Màn hình home người đăng bài">
    <title>Lịch hẹn chờ xác nhận| Người tìm trọ</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/nifty.min.css}">
    <link rel="stylesheet" th:href="@{/css/demo-purpose/demo-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/demo-purpose/demo-settings.min.css}">

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body class="jumping">
    <!-- PAGE CONTAINER -->
    <div id="root" class="container-fluid root mn--max hd--expanded">
        <!-- CONTENTS -->
        <section id="content" class="content">
            <div class="content__header content__boxed overlapping">
                <div class="content__wrap">

                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a th:href="@{/tenant/tenant-home}">Trang chủ</a></li>
                            <li class="breadcrumb-item">Lịch hẹn chờ xác nhận</li>
                        </ol>
                    </nav>
                    <!-- END : Breadcrumb -->
                    <br>
                </div>
            </div>

            <!-- Start: Content -->
            <div class="content__boxed content__wrap row col-md-12 mb-2">
                <div class="card col-md-12">
                    <div class="card-body">
                        <!-- Hiển thị thông báo thêm lịch hẹn thành công -->
                        <div class="row">
                            <div th:if="${param.success}">
                                <div class="alert alert-success" id="successAlert">Bạn vừa thêm một lịch hẹn mới</div>
                            </div>
                            <!-- Nếu trùng lịch -->
                            <div th:if="${param.notification}">
                                <div class="alert alert-danger" id="successAlert">Lịch hẹn đã trùng với một lịch khác!
                                    Vui lòng kiểm tra và hẹn lại!</div>
                            </div>

                            <!-- Cập nhật lịch hẹn -->
                            <div th:if="${param.update}">
                                <div class="alert alert-info" id="successAlert">Cập nhật lịch hẹn thành công!</div>
                            </div>

                            <!-- Huỷ lịch thành công -->
                            <div th:if="${param.successCancel}">
                                <div class="alert alert-info" id="successAlert">Huỷ lịch thành công</div>
                            </div>

                            <!-- Huỷ lịch không thành công -->
                            <div th:if="${param.failCancel}">
                                <div class="alert alert-warning" id="successAlert">Có lỗi xảy ra trong quá trình huỷ lịch, vui lòng kiểm tra lại!!</div>
                            </div>

                            <!-- Book lại lịch thành công -->
                            <div th:if="${param.successRebook}">
                                <div class="alert alert-primary" id="successAlert">Bạn vừa hẹn lại một lịch!!</div>
                            </div>

                            <!-- Thông báo khi đặt lại thành công -->
                            <div th:if = "${param.rebookSuccess}">
                                <div class = "alert alert-success" id = "successAlert">Đặt lại lịch hẹn thành công!!</div>
                            </div>
                        </div>

                        <!-- Tab -->
                        <div class="tab-base">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs justify-content-end" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#_dm-tabsRevHome" type="button" role="tab" aria-controls="home"
                                        aria-selected="true">Chờ xác nhận</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsRevProfile"
                                        type="button" role="tab" aria-controls="profile" aria-selected="false">Đã
                                        huỷ</button>
                                </li>
                            </ul>

                            <!-- Tabs content -->
                            <div class="tab-content">
                                <div id="_dm-tabsRevHome" class="tab-pane fade show active" role="tabpanel"
                                    aria-labelledby="home-tab">

                                    <!-- Lịch hẹn chờ xác nhận -->
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Ngày hẹn</th>
                                                    <th scope="col">Giờ hẹn</th>
                                                    <th scope="col">Tên liên hệ</th>
                                                    <th scope="col">SĐT Liên hệ</th>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Thông báo nếu không có lịch hẹn -->
                                                <th:block th:if="${waitingDatings.isEmpty()}">
                                                    <tr>
                                                        <td colspan="6" class="text-center">Không có lịch hẹn nào</td>
                                                    </tr>
                                                </th:block>

                                                <!-- Nếu có hiển thị lịch hẹn -->
                                                <tr th:each="waitingDating, iterStat : ${waitingDatings}"
                                                    th:id="'row-' + ${waitingDating.datingId}">
                                                    <th scope="row" class="blockquote" th:text="${iterStat.count}"></th>
                                                    <th class="blockquote" th:text="${waitingDating.bookingDate}"></th>
                                                    <td class="blockquote" th:text="${waitingDating.bookingTime}"></td>
                                                    <td class="blockquote"
                                                        th:text="${waitingDating.getLandlord().getName()}"></td>
                                                    <td class="blockquote"
                                                        th:text="${waitingDating.getLandlord().getPhone()}"></td>
                                                    <td>
                                                        <a th:href="@{/tenant/tenant-post-detail(postId = ${waitingDating.postId})}"
                                                            class=" btn btn-outline-primary">Chi tiết</a>
                                                    </td>

                                                    <!-- Huỷ lịch -->
                                                    <form th:action="@{/tenant/tenant-queue}" method = "post" role = "form">
                                                        <td>
                                                            <input type="hidden" id="datingId" name = "datingId" th:value="${waitingDating.datingId}"/>
                                                            <input type="hidden" id="bookingDate" name = "bookingDate" th:value="${waitingDating.bookingDate}"/>
                                                            <input type="hidden" id="bookingTime" name = "bookingTime" th:value="${waitingDating.bookingTime}"/>
                                                            <input type="hidden" id="tenantId" name = "tenantId" th:value="${waitingDating.getTenant().getTenantId()}"/>
                                                            <input type="hidden" id="landlordId" name = "landlordId" th:value="${waitingDating.getLandlord().getLandlordId()}"/>
                                                            <input name="actionCancel" type="hidden" value="cancel" /> 
                                                            <button type="submit" class="btn btn-outline-danger">Huỷ lịch</button>
                                                        </td>
                                                    </form>
                                                    <!-- End: Huỷ lịch -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- Lịch đã huỷ -->
                                <div id="_dm-tabsRevProfile" class="tab-pane fade" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Ngày hẹn</th>
                                                    <th scope="col">Giờ hẹn</th>
                                                    <th scope="col">Tên liên hệ</th>
                                                    <th scope="col">SĐT Liên hệ</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Thông báo không có cuộc hẹn nào -->
                                                <th:block th:if="${canceledDatings.isEmpty()}">
                                                    <tr>
                                                        <td colspan="6" class="text-center">Không có lịch hẹn nào</td>
                                                    </tr>
                                                </th:block>

                                                <!-- Nếu có hiển thị lịch hẹn -->
                                                <tr th:each="canceledDating, iterStat : ${canceledDatings}">
                                                    <th scope="row" class="blockquote" th:text="${iterStat.count}"></th>
                                                    <th class="blockquote" th:text="${canceledDating.bookingDate}"></th>
                                                    <td class="blockquote" th:text="${canceledDating.bookingTime}"></td>
                                                    <td class="blockquote"
                                                        th:text="${canceledDating.getLandlord().getName()}"></td>
                                                    <td class="blockquote"
                                                        th:text="${canceledDating.getLandlord().getPhone()}"></td>

                                                    <!-- Đăt lại lịch -->
                                                    <form th:action="@{/tenant/tenant-queue}" method = "post" role = "form">
                                                        <td>
                                                            <input type="hidden" id="datingId" name = "datingId" th:value="${canceledDating.datingId}"/>
                                                            <input name="actionRebook" type="hidden" value="rebook" /> 
                                                            <button type = "submit" class = "btn btn-outline-danger">Đặt lại</button>
                                                        </td>
                                                    </form>
                                                    <!-- End đặt lại lịch -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class = "row"> 
                            
                        </div> -->
                        <!-- Lịch đã hẹn -->
                    </div>
                </div>
            </div>
            <!-- End: Content -->

            <!--------------------------- Footer ------------------------------------>
            <!-- END - FOOTER -->
        </section>
        <!-- Start: Header -->
        <div th:replace="fragments :: header"></div>

        <!-- Thanh điều hướng -->
        <nav id="mainnav-container" class="mainnav">
            <div class="mainnav__inner">
                <!-- Start: Nevigation -->
                <div class="mainnav__top-content scrollable-content pb-5">
                    <!--Start: Avatar -->
                    <div class="mainnav__profile mt-3 d-flex3">
                        <!-- Profile picture  -->
                        <div class="mininav-toggle text-center py-2">
                            <img class="mainnav__avatar img-md rounded-circle border" src="/img/profile-photos/1.png"
                                alt="Profile Picture">
                        </div>

                        <div class="mininav-content collapse d-mn-max">
                            <div class="d-grid">
                                <!-- User name and position -->
                                <button class="d-block btn shadow-none p-2" data-bs-toggle="collapse"
                                    data-bs-target="#usernav" aria-expanded="false" aria-controls="usernav">
                                    <span class="d-flex justify-content-center align-items-center">
                                        <h6 class="mb-0 me-3">Tên tài khoản</h6>
                                    </span>
                                    <small class="text-muted">Tài khoản đăng bài</small>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End: Avatar-->

                    <!-- Start: Left Navigation Category -->
                    <div class="mainnav__categoriy py-3 ">
                        <h6 class="mainnav__caption mt-0 px-3 fw-bold">Tuỳ chọn</h6>
                        <ul class="mainnav__menu nav flex-column">

                            <!-- Category: 1 Trang chủ-->
                            <li class="nav-item">
                                <a th:href="@{/tenant/tenant-home}" class="mininav-toggle nav-link collapse"><i
                                        class="demo-pli-home fs-5 me-2"></i>
                                    <span class="nav-label mininav-content ms-1">Trang chủ</span>
                                </a>
                            </li>
                            <!-- Category 2: Thông tin cá nhân -->
                            <li class="nav-item has-sub">
                                <a href="#" class="mininav-toggle nav-link collapse"><i
                                        class="demo-pli-split-vertical-2 fs-5 me-2"></i>
                                    <span class="nav-label ms-1">Thông tin cá nhân</span>
                                </a>
                                <!-- Forms submenu list -->
                                <ul class="mininav-content nav collapse">
                                    <li class="nav-item">
                                        <a th:href="@{/tenant/tenant-info}" class="nav-link ">Chi tiết tài khoản</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/tenant/tenant-edit-info}" class="nav-link">Chỉnh sửa thông
                                            tin</a>
                                    </li>
                                </ul>
                                <!-- END : Forms submenu list -->
                            </li>

                            <!-- Category 3: Lịch hẹn -->
                            <li class="nav-item has-sub">
                                <a href="#" class="mininav-toggle nav-link active"><i
                                        class="demo-pli-speech-bubble-5 fs-5 me-2"></i>
                                    <span class="nav-label ms-1">Lịch hẹn </span>
                                </a>

                                <!-- Blog Apps submenu list -->
                                <ul class="mininav-content nav collapse">
                                    <li class="nav-item">
                                        <a th:href="@{/teant/tenant-date}" class="nav-link">Lịch hẹn thành công</a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/tenant/tenant-queue}" class="nav-link active">Lịch hẹn chờ xác
                                            nhận</a>
                                    </li>
                                </ul>
                                <!-- END : Blog Apps submenu list -->
                            </li>

                            <!-- Category 5: Cài đặt -->
                            <li class="nav-item">
                                <a href="#" class="nav-link mininav-toggle"><i class="demo-pli-gear fs-5 me-2"></i>
                                    <span class="nav-label mininav-content ms-1">Cài đặt</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End: Left Nevigation Category-->

                    <!-- Bottom navigation menu -->
                    <div class="mainnav__bottom-content border-top pb-2">
                        <ul id="mainnav" class="mainnav__menu nav flex-column">
                            <li class="nav-item has-sub">
                                <a th:href="@{/logout}" class="nav-link mininav-toggle collapsed" aria-expanded="false">
                                    <i class="demo-pli-unlock fs-5 me-2"></i>
                                    <span class="nav-label ms-1">Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End - Bottom navigation menu -->
                </div>
        </nav>
    </div>

    <!-- Button chuyên lên đầu trang -->
    <div class="scroll-container">
        <a href="#root" class="scroll-page rounded-circle ratio ratio-1x1" aria-label="Scroll button"></a>
    </div>
    <!-- End: Thanh điều hướng -->
    <script th:src="@{/vendors/popperjs/popper.min.js}" defer></script>
    <script th:src="@{/vendors/bootstrap/bootstrap.min.js}" defer></script>
    <script th:src="@{/js/nifty.js}" defer></script>
    <script th:src="@{/js/demo-purpose-only.js}" defer></script>
    <script th:src="@{/js/search.js}" defer> </script>
    <script th:src="@{/js/alert.js}" defer></script>
</body>
</html>