<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" content="Form tạo tài khoản">
    <title>Tạo tài khoản</title>

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/nifty.min.css" rel="stylesheet">
    <link href="/css/demo-purpose/demo-icons.min.css" rel="stylesheet">
    <link href="/css/demo-purpose/demo-settings.min.css" rel="stylesheet">
    <!-- <link href="/css/danger.css" rel="stylesheet"> -->

</head>
<body class="">
    <!-- Page container -->
    <div id="root" class="root front-container">

        <!--Start content -->
        <section id="content" class="content">
            <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <div class="content__wrap">
                    <div class="card shadow-lg">
                        <div class="card-body">

                            <!-- Notification-->
                            <div th:if="${param.success}">
                                <div class="alert alert-info" id = "success">Đăng ký tài khoản thành công!</div>
                            </div>
                            <div th:if="${param.fail}">
                                <div class="alert alert-warning" id = "fail">Mật khẩu không trùng khớp!</div>
                            </div>
                            <div th:if="${param.existed}">
                                <div class="alert alert-danger" id = "existed">Email này đã được đăng ký với vai trò khác!!</div>
                            </div>
                            <div th:if="${param.existedRole}">
                                <div class="alert alert-danger" id = "existedRole">Email đã tồn tại!!</div>
                            </div>

                            <!-- Form đăng ký -->
                            <div class="text-center">
                                <h1 class="h3">Đăng ký</h1>
                                <p>Tạo tài khoản ngay để tham gia Timtro247</p>
                            </div>
                            <form class="w-md-400px d-inline-flex row mb-2 needs-validation" method="post" role="form"
                                th:action="@{/register/save}" th:object="${registration}" id="registrationForm">
                                <div class="col-sm-12">
                                    <input class="form-control" id="name" name="name" placeholder="Tên đăng nhập"
                                        th:field="*{name}" type="text" required/>
                                    <!-- <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"> -->
                                    </p>
                                </div>

                                <div class="col-sm-12 mt-4">
                                    <input class="form-control" id="phone" name="phone" placeholder="Số điện thoại"
                                        th:field="*{phone}" type="text" required/>
                                    <!-- <p th:errors="*{phone}" class="text-danger" th:if="${#fields.hasErrors('phone')}"></p> -->
                                    <p id="phoneError" class="text-danger"></p>
                                </div>

                                <div class="col-sm-12 mt-4">
                                    <select class="form-control" id="role" name="role" th:field="*{role}" required>
                                        <option value="TENANT">Người tìm trọ</option>
                                        <option value="LANDLORD">Người cho thuê</option>
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-4">
                                    <input class="form-control" id="email" name="email" placeholder="Nhập email"
                                        th:field="*{email}" type="email" required/>
                                    <!-- <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p> -->
                                    <p id="emailError" class="text-danger"></p> <!-- This is the added element -->
                                </div>

                                <div class="col-sm-12 mt-4">
                                    <input class="form-control" id="password" name="password" placeholder="Mật khẩu"
                                        th:field="*{password}" type="password" required/>
                                    <p id = "passwordComplexityError" class = "text-danger"></p>
                                </div>

                                <div class="col-sm-12 mt-4">
                                    <input class="form-control" id="confirmPassword" name="confirmPassword"
                                        placeholder="Xác nhận mật khẩu" th:field="*{confirmPassword}" type="password" required/>
                                    <p id="passwordMatchError" class="text-danger"></p> <!-- This is the added element -->
                                   
                                </div>

                                <!-- Check box đồng ý với điều khoản -->
                                <div class="form-check d-flex align-items-center justify-content-center mt-5">
                                    <input id="_dm-registerCheck" class="form-check-input" type="checkbox" required>
                                    <label for="_dm-registerCheck" class="form-check-label">
                                        Đồng ý với <a th:href="@{/rules}"
                                            class="btn-link text-decoration-underline">điều khoản của chúng tôi</a>
                                    </label>
                                </div>

                                <div class="d-grid mt-5">
                                    <button class="btn btn-primary btn-lg" type="submit">Đăng ký</button>
                                </div>
                            </form>

                            <!-- Form footer -->
                            <div class="d-flex justify-content-between mt-4">
                                Đã có tài khoản?
                                <a th:href=@{/login} class="btn-link text-decoration-none">Đăng nhập</a>
                            </div>
                            <div class="d-flex align-items-center justify-content-between border-top pt-3 mt-3">
                                <h5 class="m-0">Đăng ký với</h5>

                                <!-- Social media buttons -->
                                <div class="ms-3">
                                    <a href="https://www.facebook.com/"
                                        class="btn btn-sm btn-icon btn-hover btn-primary text-inherit">
                                        <i class="demo-psi-facebook fs-5"></i>
                                    </a>
                                    <a href="https://twitter.com/?lang=vi"
                                        class="btn btn-sm btn-icon btn-hover btn-info text-inherit">
                                        <i class="demo-psi-twitter fs-5"></i>
                                    </a>
                                    <a href="https://www.google.com/intl/vi/gmail/about/"
                                        class="btn btn-sm btn-icon btn-hover btn-danger text-inherit">
                                        <i class="demo-psi-google-plus fs-5"></i>
                                    </a>
                                    <a href="https://www.instagram.com/"
                                        class="btn btn-sm btn-icon btn-hover btn-warning text-inherit">
                                        <i class="demo-psi-instagram fs-5"></i>
                                    </a>
                                </div>
                                <!-- End social media buttons -->
                            </div>
                            <!-- End form -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <!-- End: Page container -->

    <!-- BOXED LAYOUT : BACKGROUND IMAGES CONTENT [ DEMO ] -->
    <div id="_dm-boxedBgContent" class="_dm-boxbg offcanvas offcanvas-bottom" data-bs-backdrop="false"
        data-bs-scroll="true" tabindex="-1">
        <div class="offcanvas-body p-4">

            <!-- Collection Of Images -->
            <div id="_dm-boxedBgContainer" class="row mt-3">

                <!-- Blurred Background Images -->
                <div class="col-lg-4">
                    <h5 class="mb-4">Blurred</h5>
                    <div class="_dm-boxbg__img-container d-flex flex-wrap">
                        <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                            <img class="img-responsive" src="/premium/boxed-bg/blurred/thumbs/1.jpg"
                                alt="Background Image" loading="lazy">
                        </a>
                    </div>
                </div>
                <!-- End - Blurred Background Images -->

                <!-- Polygon Background Images -->
                <div class="col-lg-4">
                    <h5 class="mb-4">Polygon &amp; Geometric</h5>
                    <div class="_dm-boxbg__img-container d-flex flex-wrap">
                        <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                            <img class="img-responsive" src="/premium/boxed-bg/polygon/thumbs/1.jpg"
                                alt="Background Image" loading="lazy">
                        </a>
                    </div>
                </div>
                <!-- End - Polygon Background Images -->

                <!-- Abstract Background Images -->
                <div class="col-lg-4">
                    <h5 class="mb-4">Abstract</h5>
                    <div class="_dm-boxbg__img-container d-flex flex-wrap">
                        <a href="#" class="_dm-boxbg__thumb ratio ratio-16x9">
                            <img class="img-responsive" src="/premium/boxed-bg/abstract/thumbs/1.jpg"
                                alt="Background Image" loading="lazy">
                        </a>
                    </div>
                </div>
                <!-- End - Abstract Background Images -->
            </div>
            <!-- End - Collection Of Images -->
        </div>
    </div>
    <script th:src="@{/vendors/popperjs/popper.min.js}" defer></script>
    <script th:src="@{/vendors/bootstrap/bootstrap.min.js}" defer></script>
    <script th:src="@{/js/nifty.js}" defer></script>
    <script th:src="@{/js/demo-purpose-only.js}" defer></script>
    <script th:src="@{/js/form-validate.js}" defer></script>
    <script th:src="@{/js/alert.js}" defer></script>
</body>
</html>