<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4VcQJPz7BCXiQzMgdHX-wxgcPR8usVWI&callback=initMap" async defer></script>
    <script>
        function initMap() {
            // Tạo bản đồ tại vị trí cụ thể
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 40.712776, lng: -74.005974}, // New York City
                zoom: 12 // Độ phóng bản đồ
            });
            
            // Thêm đánh dấu (marker) tại vị trí
            var marker = new google.maps.Marker({
                position: {lat: 40.712776, lng: -74.005974},
                map: map,
                title: 'New York City'
            });
        }
    </script>
</head>
<body>
    <p>Vị trí trên bản đồ</p>
    <div id="map" style="height: 400px;"></div>
    
</body>
</html>